<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1> <%= day %> </h1>
		<ul>
			<li>Coding</li>
			<li>Scripting</li>
			<li>gaming</li>
			<!--			<li><%= listItem %></li> -->

			<% var i = 0; %>
			<%  while (i <listItem.length){ %>	
			<li> <%= listItem[i] %> </li>
			<% i++;} %>

			<br>
			<form action="/" method="post">
				<input type="text" placeholder="Text" name="item">
				<button type="submit">Submit</button>
			</form>
		</ul>
	</body>
</html>
