<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
		<div class="box" id="heading">
			<h1> <%= listTitle %> </h1>
		</div>

		<div class="box">
			<% var i = 0; %>
			<%  while (i <listItem.length){ %>	
				<div class="item">
					<input type="checkbox">
					<p> <%= listItem[i] %> </p>
				</div>
			<% i++;} %>
			<form action="/" method="post" class="item">
				<input type="text" placeholder="Text" name="item" autocomplete="off">
				<button type="submit">+</button>
			</form>
		<div>
	</body>
</html>
